[submodule "contrib/daily/future"]
	path = contrib/daily/future
	url = git@github.com:cdglove/daily-future.git
[submodule "contrib/boost.nowide"]
	path = contrib/boost.nowide
	url = git@github.com:cdglove/nowide.git
[submodule "contrib/hunter_gate"]
	path = contrib/hunter_gate
	url = git@github.com:hunter-packages/gate.git
